{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
	<head>

		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/loader.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
		<script src="https://www.youtube.com/iframe_api"></script>
		<script>var players = [];</script>

	</head>
	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-lt-blanc" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div> -->

		<div class="overlay">
			<img class="logo-lt-blanc" src="img/logo-lt-blanc.svg" alt="">
				<img class="logo-sponsor" src="img/logo-responsable-overlay.jpg" alt="">
			<div class="spinner" >
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>

		<header>
			<div class="header__bg"></div>
			<div class="header__gradient"></div>
			
			<!-- <div class="video-wrapper">
				<video playsinline autoplay loop muted>
				  <source src="https://player.vimeo.com/external/272224606.hd.mp4?s=0767373c2b5d80d663ef69df7f25421cf400f1e7&profile_id=175" type="video/mp4"> 
				  Votre navigateur ne supporte pas les vidéos HTML%.
				</video>
			</div> -->

			<div class="header__content">
				<div class="header__content__container">
					<div class="header__content__container__box">
						<h1>Homo<br>Plasticus<!-- <span></span> --></h1>
						<!-- <img class="separateur" src="img/separateur.svg" alt=""> -->
						<h2 class="author">Un article de<span> Fabien Goubet</span></h2>	
						<h2 class="social" >
							<a target="blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fa fa-facebook"></i></a>
							<a target="blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=letemps"><i class="fa fa-twitter fa-middle"></i></a>
							<a target="blank" href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}"><i class="fa fa-linkedin"></i></a>
						</h2>
					</div>
				</div>
			</div> 

			

			<div class="scroll-indicator">
				<div class="scroll-indicator-inner"></div> 
			</div>

		</header>

		<div class="header-sponsor">
			<a href="https://www.letemps.ch/partenariats" target="_blank">
				<span class="charte">[?]</span>
			</a>
			<a href="http://www.responsables.ch/" target="_blank">
				<img src="img/logo-responsable.png" alt="">
			</a>
			<span>Avec le partenariat de </span>
		
		</div>

		<section class="text padding-bottom">
			<div class="container">

				<h3>Une plage ensoleillée, le doux ressac de l’eau...et, par terre, dénotant sur le sable brunâtre, une multitude de petits points
				colorés<hr> 
				</h3>

				<div class="spacer-small"></div>
				<div class="spacer-small"></div>

				<h4>
					Texte: Fabien Goubet<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>Illustrations: Florent Collioud, César Greppin, Flaticon<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Photos: XXXX XXXXXXXXXX<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Vidéo: XXXX XXXXXXXXXX<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Webdesign et animation: César Greppin
				</h4>

				<p>
					 Ces petits spots rouges bleus verts ou de toute autre couleur ne sautent immédiatement pas aux yeux du promeneur. Mais une
					fois son regard accoutumé, impossible de ne plus les voir. De minuscules billes, des bouchons de bouteilles, des fragments
					de bâtonnets de coton-tige par dizaines…
				</p>

				<p>
					 Nul besoin de se rendre à l’autre bout du monde pour être aux première loges de l’invasion des plastiques. Ici aussi, en
					Suisse, sur une plage du Léman, ce matériau s’est petit à petit incrusté dans le paysage. Il pollue les eaux, salit les rives,
					enlaidit le paysage. Et finit invariablement par gagner la mer.
				</p>

				<p>
					 L’homme s’est rendu malade de son plastique, qu’il produit dans des quantités infernales. Il est temps d’y remédier.

				</p>

			</div>
		</section>

	
		

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Le plastique, c'est fantastique</h3>

				<p>
					Avant de clouer cette matière pop au pilori, il convient de regarder en arrière. Si le plastique n’existait pas, il faudrait
					l’inventer. Principalement dérivé du pétrole, ce matériau dispose de propriétés presque sur mesure. Tantôt souple, tantôt
					solide, résistant ou au contraire malléable à la chaleur… cette néo argile entièrement synthétique est façonnée à l’envi
					par les chimistes.
				</p>

				<p>
					 Son succès est indissociable de l’essor de l’industrie chimique au début du XXe siècle, qui marque le début de ce que certains
					appellent le «plasticocène», l’ère du plastique. Le premier plastique à être massivement produit fut la bakélite, matière
					100% synthétique mise au point en 1907 par le chimiste américano-belge Leo Baekeland. On le retrouvait notamment dans les
					téléphones fixes à cadran. A partir de là, les progrès de la chimie ont entraîné une avalanche de nouvelles matières plastiques
					qui révolutionnèrent le quotidien: collants synthétiques en 1910, intérieurs des voitures en 1916, bande scotch et film cellophane
					en 1930, nylon en 1935...la liste est longue.
				</p>
				
			</div>
		</section>

		<!-- GRANDE IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery big">
			<div class="layout">
				<img class="zoom lazy" data-original="img/article/timeline.svg">
				<div class="caption">
					<b>LÉGENDE ICI</b> si possible
				</div>
			</div>
		</section> 

		

		<section>
			<div class="container">

				<p>
					 Aujourd’hui persona non grata, le plastique a pour lui une longue histoire de matériau miracle. Produit synthétique par
					excellence, il représentait durant les «années plastiques» l’affranchissement et la supériorité de l’homme sur la nature,
					voire l’émancipation de la femme - qui en réalité avait tout autant de corvées à effectuer. Le musée des arts décoratifs
					de Lausanne y consacrait encore une exposition dithyrambique, Le Plastique Roi en … 1985.
				</p>

				<!-- ENCART DROIT à L'INTéRIEUR D'UN PARAGRAPHE. DOIT ÊTRE DANS UNE SECTION -->
				<!-- <div class="block-content right">
					<img class="zoom lazy" data-original="img/article/plastique-roi.jpg">
					<div class="caption">
						<b>DEVANT L'ANCIEN PONT À PÉAGE</b>, nous sommes rejoints par Franz Senn qui nous servira de guide</div>
				</div> -->

				<p>
					 Surtout, le plastique est resté le symbole du capitalisme et de la culture du jetable. A quoi bon s’échiner à le recycler?
					Il coûte moins cher d’en produire de nouveau...

				</p>

			</div>
		</section>
		
		<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery small">
			<div class="layout">
				<img class="zoom lazy" data-original="img/article/chart-courbe.svg">
				<div class="caption">
					<b>PRODUCTION MONDIALE DE PLASTIQUE</b>, hors plastiques recyclés et bioplastique (Source: PlasticsEurope).
				</div>
			</div>
		</section>

		<section class="padding-bottom">
			<div class="container">
				
				<p>
					Le succès foudroyant des plastiques est aujourd’hui à la racine du problème. Il a conduit à leur omniprésence et à leur abondance,
					qui sont devenus sont les grands défauts de leurs qualités. De 15 millions de tonnes en 1960, la production a grimpé à un
					rythme exponentiel pour s’établir à plus de 300 millions aujourd’hui, dont environ 40% destinés aux emballages.
				
				</p>

			</div>
		</section>
        
		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS
				</div> -->
			</div>
		</section>

		<section class="">
			<div class="container">
		
				<h3 class="inter-titre title">L’impossible bilan</h3>
		
				<p>
					 Mener l’inventaire d’une telle pollution est tout sauf une partie de plaisir. Des scientifiques de l’université de Géorgie
					et de Californie l’ont pourtant fait. Leur compte rendu fut publié dans la revue Science Advances en 2017.

				</p>
		
				<p>
					 Roland Geyer et son équipe ont déterminé que 8,3 milliards de tonnes de plastique avaient été produites entre 1950 et 2015,
					principalement par la Chine (29%) et l’Europe (19%). Sur cette quantité, 6,3 milliards de tonnes ont été jetées, devenant
					des déchets très peu biodégradables dont seulement 9% ont été recyclés, 12% incinérés. Le reste, soit 4,9 milliards de tonnes,
					ont atterri dans des décharges ou dans la nature. La plupart terminent leur périple dans les océans, où plus de huit millions
					de tonnes sont déversées chaque année.

				</p>

				<p>
					 Si l’on devait tout rassembler au même endroit, la totalité des plastiques produits et abandonnés depuis 1950 rempliraient
					une décharge de 70 mètres de profondeur pour 57 km2 de surface - soit un peu plus que la taille de la ville de Berne. Si
					la production actuelle se maintient, il y aura environ 12 milliards de tonnes de déchets plastiques dans les décharges ou
					dans la nature d’ici 2050. Et encore, tous ces chiffres sont à considérer avec précaution. Les données proviennent de statistiques
					sur les déchets communiquées par la Banque mondiale ou les instances nationales des pays inclus dans l’étude, et non de véritables
					mesures effectuées sur le terrain. «Les flux de plastique dans l’environnement sont des processus connus mais difficilement
					modélisables à grande échelle», confirme Delphine Wenger, doctorante en sciences de l’environnement au Laboratoire fédéral
					d'essai des matériaux et de recherche (Empa) à Saint-Gall.

				</p>
		
			</div>
		</section>

		<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery small">
			<div class="layout">
				<img class="zoom lazy" data-original="img/article/chart5.svg">
				<div class="caption">
					<b>INFOG DE FLO</b>, ronde donuts 2 niveaux.
				</div>
			</div>
		</section>

		<section>
			<div class="container">

				<p>
					 Avec de solides filières de valorisation et de recyclage, de tels chiffres n’inspireraient guère d’inquiétude. Mais rien
					n’est simple avec la fin de vie du plastique, qui n’est pas un matériau unique, mais une famille comptant des centaines de
					membres. On en distingue sept grands groupes, chacun ayant leur filière de valorisation plus ou moins efficace. Ils sont
					représentés par de petits pictogrammes avec trois flèches formant un triangle - logos qui laissent supposer, à tort, l’existence
					d’un recyclage.
				</p>


			</div>
		</section>

		<!-- SLIDER D'IMAGES -->
		<section class="gallery slider">
			<div class="layout">
				<h3 class=" title" style="text-align: center; font-family: 'Open sans';">À chaque plastique son pictogramme</h3>
				<div class="spacer-small"></div>
				<div class="owl">
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider1.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider2.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider3.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider4.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider5.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider6.jpg">
					</div>
					<div class="owl-img-wrapper">
						<img class="lazyOwl" data-src="img/article/slider7.jpg">
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">

				<p>
					 A cette difficulté s’est ajoutée un coup de tonnerre survenu fin 2017. La Chine a annoncé cesser d’acheter les déchets des
					pays occidentaux, dont le plastique, comme elle le faisait jusqu’alors. Or le pays, qui recyclait environ la moitié des déchets
					mondiaux, faisait fondre le plastique pour en faire des matières premières qu’elle exportait. XXXX Xavier Prudhomme
				</p>

				<p>
					 Tourisme, agriculture, eaux usées et pêcheries sont les principaux secteurs responsables. Les pays les plus pollueurs seraient
					en Asie d’après un rapport de l’organisation Ocean Conservancy. La Chine, la Thaïlande, les Philippines, l’Indonésie et le
					Vietnam seraient à eux cinq responsables de 80% du plastique déversé dans la nature. Une autre étude publiée en 2017 a estimé
					que 90% du plastique arrivant par les rivières le serait via seulement dix rivières, huit en Asie et deux en Afrique.
				</p>

			</div>
		</section>

		<!-- GRANDE IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery big">
			<div class="layout">
				<img class="zoom lazy" data-original="img/article/chart2.svg">
				<div class="caption">
					<b>INFOG FLO</b> carte du monde
				</div>
			</div>
		</section>

		<section>
			<div class="container">

				<p>
					 Le plastique qui gagne la mer provient essentiellement de déchets non collectés. C’est pourquoi les pays pauvres, qui ne
					jouissent pas d’un réseau de collecte des déchets performants, comptent parmi les plus pollueurs.

				</p>

				<p>
					 Mais les pays riches polluent eux aussi, et la Suisse n’y échappe pas. Il suffit de jeter un oeil aux statistiques de l’Office
					fédéral pour l’environnement (OFEV) pour s’en convaincre. Avec 730 kilos de déchets par habitant et par an, la Suisse est
					vice-championne d’Europe du remplissage de poubelles, derrière le Danemark. Mais question plastique, elle surclasse tous
					ses adversaires avec environ 94 kilos de déchets par habitant et par an, soit trois fois plus que la moyenne européenne.
				</p>

			</div>
		</section>

		<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery small">
			<div class="layout">
				<img class="zoom lazy" data-original="img/article/chart1.svg">
				<div class="caption">
					<b>INFOG DE FLO</b>, chiffres suisse.
				</div>
			</div>
		</section>

		<section class="padding-bottom">
			<div class="container">

				

				<p>
					 Sur le million de tonnes de plastiques en tous genres consommés chaque année, une immense partie (78%) sont jetés, le reste
					étant utilisé durablement (pour la construction par exemple). Le pays a beau disposer de systèmes de collecte des déchets
					performants, il est inévitable qu’une certaine proportion finisse dans la nature. Et ce d’autant plus que seule une infime
					partie - à peine 10% - des plastiques sont recyclés, principalement les bouteilles en PET. L’immense majorité restante est
					incinérée pour produire du chauffage ou de l’électricité, une «valorisation énergétique» pourtant génératrice de fumées et
					cendres toxiques. Pourquoi? Parce qu’une fois utilisé, le plastique ne sert plus à rien. Il est même souvent moins cher d’en
					fabriquer d’autre, plutôt que de le recycler. Question protection de l’environnement, on a vu mieux…

				</p>

				<p>
					 Mais plus que de jongler avec des chiffres, le mieux pour se rendre compte de la pollution par le plastique en Suisse, reste
					encore de se tourner vers les lacs et les cours d’eau. L’opération de nettoyage Net’Léman, en est une triste illustration.
					Menée tous les deux ans sur quelques rives du lac, elle a cette année permis de sortir de l’eau 5492 kg de déchets, dont
					1000 de plastique, principalement des emballages de nourriture, des pailles, des couverts et des bouteilles.

				</p>

				<p>
					 «La situation en eau douce reste largement méconnue, même s'il semble qu'il s'agit là de l'origine principale de la pollution
					marine», écrit dans un rapport d’évaluation Luiz Felippe de Alencastro, du laboratoire central environnemental de l’Ecole
					polytechnique fédérale de Lausanne. Le chercheur a, dans une remarquable étude parue en 2014, quantifié la présence des microplastiques
					dans six lacs majeurs de Suisse. Son verdict: «Il apparaît que tous les lacs sont concernés par cette pollution, des microplastiques
					de tous types et de composition variées pouvant être trouvés dans tous les échantillons». Les concentrations relevées sont
					ni plus ni moins du même ordre de grandeur que celles des milieux marins. Rivières, lacs et océans sont reliés comme des
					vases communicants.

				</p>

				<p>
					 Il suffit d’un rien pour que gobelets de café, bouteilles de soda et autres papiers de barres chocolatées arrivent dans
					l’eau. D’une rivière ou un lac, rien ne les empêche alors de descendre le Rhône et de se retrouver en Méditerranée puis ailleurs,
					plus loin, où ils finiront peut-être par étouffer un phoque ou un goéland, ou simplement échouer sur une plage de rêve. Nul
					besoin de disposer d’un littoral marin pour polluer. Le plastique suisse contamine lui aussi les océans à l’autre bout du
					monde.

				</p>

				<p>
					 Et ce n’est pas le plus préoccupant. Une fois dispersés par les courants, les débris sont irrémédiablement perdus, et ce
					d’autant plus qu’ils se fragmentent sous l’effet des rayonnements ultraviolets du Soleil et de l’oxydation en de minuscules
					débris de moins de 5 millimètres: les microplastiques. Il y en aurait plus de 50 milliards d’après les estimations les plus
					récentes. <a href="https://www.iucn.org/fr/node/27919" target="_blank">Selon l'Union internationale</a> pour la conservation de la nature (UICN), <a href="https://www.lexpress.fr/actualite/societe/environnement/en-2050-il-y-aura-davantage-de-plastique-que-de-poissons-dans-l-ocean_1756802.html" target="_blank">les micro-plastiques</a> pèseraient jusqu’à
					31 % du plastique marin. Ils sont si petits qu’ils sont avalés sans distinction par les animaux marins. Ne leur reste plus
					qu’une étape pour qu’ils atterrissent dans une assiette. Retour à l’envoyeur...

				</p>

			</div>
		</section>

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS
				</div> -->
			</div>
		</section>
		
		<section class="padding-bottom">
			<div class="container">
		
				<h3 class="inter-titre title">Le péril plastique</h3>
				
				<p>
					 Les scientifiques ne savent pas exactement dans quelle mesure le plastique et le microplastique affecte l’environnement.
					«Les impacts sur le biote sont en premier lieu physiques, mais des effets chimiques sont aussi à attendre, surtout en ce
					qui concerne les plus petites particules», poursuit Luiz Felippe de Alencastro.
				</p>

				<p>
					 L’impact physique des plastiques est tristement connu: ingestion et étranglement s’avèrent souvent mortels pour les 250
					espèces connues pour être vulnérables à ce matériau, parmi lesquelles les albatros, les pingouins, les tortues et autres
					baleines. Mais le plus inquiétant est encore une fois invisible à nos yeux, car «70% des microplastiques coulent», dit Luis
					Felippe de Alencastro.
				</p>

				<p>
					 Dans une étude publiée en 2018, des chercheurs de l’Agence japonaise pour la science et la technologie marines ont rapporté
					dans la revue  <a href="https://www.sciencedirect.com/science/article/pii/S0308597X17305195?via=ihub#!" target="_blank">Marine Policy</a> avoir catalogué 3425 débris de plastique au fond de l’océan Pacifique. Les microplastiques pèsent
					pour 33% dans cette pêche, dont 89% proviennent de produits à usage unique. Pire, cette proportion augmente avec la profondeur,
					passant à 92% au-delà des 6000 mètres. Funeste record, un sac plastique a même été retrouvé à près de 11 000 mètres de fond
					dans la fosse des Mariannes, le point le plus bas de la planète. A de telles profondeurs, des organismes abyssaux ont été
					vus emmêlés dans des sacs plastique <a href="http://www.godac.jamstec.go.jp/catalog/dsdebris/metadataList?lang=en" target="_blank">(Voir les images)</a>.
				</p>

				<p>
					 Et ce n’est pas tout. Bien des microplastiques sont en effet invisibles. Dans l’eau minérale en bouteille par exemple. Parmi
					250 bouteilles testée9s par des chercheurs de l’université de New York en 2017, 93% contenaient des microplastiques invisibles
					(PET, nylon, polypropylène, à priori provenant des bouteilles). Evian, Nestlé Pure Life, San Pellegrino...de nombreuses grandes
					marques sont concernées. En moyenne, 10,4 particules d’environ 0,1 millimètre ont été découvertes par litre d’eau. Leurs
					effets sur la santé sont inconnus, mais ne présagent rien de très réjouissant. Des chercheurs de l'Université de Genève ont
					récemment détecté la présence fréquente de cadmium, mercure et plomb dans des déchets plastiques collectés sur les plages
					du Léman, parfois dans des concentrations très élevées dépassant le maximum autorisé par la législation européenne. Au risque
					de les retrouver dans les assiettes? «Les microplastiques s’accumulent surtout dans le tube digestif des poissons, qui sont
					retirés avant la vente», a donné en exemple lors d’une conférence à Yverdon Stefan Kucsera, de l'Office fédéral de la sécurité
					alimentaire, avant d’admettre que «des études ont toutefois prouvé leur présence dans les muscles».
				</p>

				<p>
					 Mais la détermination précise de leur toxicité demeure malaisée. «Pour le savoir avec certitude, il faudrait connaître les
					dangers encourus, par le biais d’études toxicologiques, ainsi que la durée d’exposition, en modélisant les flux de plastique
					dans l’environnement», précise Delphine Wenger, qui travaille justement sur cette thématique dans son laboratoire.

				</p>

			</div>
		</section>

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS
				</div> -->
			</div>
		</section>
		
		<section class="padding-bottom">
			<div class="container">
		
				<h3 class="inter-titre title">Faire face</h3>

				<p>
					 Nul besoin d’attendre les conclusions définitives des scientifiques: la progression exponentielle de la production de plastique
					suffit pour s’interroger sur les moyens à mettre en oeuvre pour protéger l’environnement. Nettoyer, recycler, réduire ou
					encore innover: des solutions existent. Mais elles sont loin d’être égales.
				</p>

				<p>
					 Des doutes planent ainsi sur les solutions dites de nettoyage, qui visent à débarrasser les océans des plastiques qui les
					encombrent. L’une des plus célèbres tentatives est sans doute The Ocean Cleanup. Imaginée en 2012 par le Néerlandais Boyan
					Slat alors qu’il n’avait que 18 ans, elle a pour objectif attraper les plastiques flottants au sein des gyres grâce à des
					instruments flottants.
				</p>

				<p>
					 Des filets devaient initialement être fixés à d’immenses pylônes rotatifs reposant au fond de l’océan. Les prototypes actuellement
					en test en mer du Nord et dans la baie de San Francisco sont basés sur une toute autre technologie. Exit les filets, soupçonnés
					de piéger les organismes marins ou soumis à un perpétuel encrassage qui déséquilibrerait l’ensemble. A la place, un long
					tube de polyéthylène haute densité (sic) balaie la surface de l’eau afin de rassembler les débris, ensuite ramassés par des
					bateaux. Le tube se déplace à l’aide d’une ancre sous-marine motorisée, immergée à 600 mètres de profondeur. Un grand rideau
					suspendu au tube permet de ratisser les plastiques flottant sur les premiers mètres, sans piéger les poissons ni être chahutée
					par les courants. Sorte de Daniel Radcliffe chevelu, le charismatique Boyan Slat estime mettre à l’eau un premier véritable
					dispositif de nettoyage de 600 mètres de long d’ici 2020.

				</p>

				<p>
					 Les experts sont sceptiques. «Ramasser n’a de sens que si le déchet a une valeur. Or la plupart des déchets flottants ne
					représente que environ 1% de ce qui tombe au fond et ils sont si abîmés que même les recycleurs n’en veulent pas», balaie
					François Galgani.

				</p>

				<!-- VIDEO EN ENCART DANS UN PARAGRAPHE -->
				<div class="block-content right">
					<div class="video-wrapper">
						<style>
							.embed-container {
								position: relative;
								padding-bottom: 56.25%;
								height: 0;
								overflow: hidden;
								max-width: 100%;
							}
						
							.embed-container iframe,
							.embed-container object,
							.embed-container embed {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}
						</style>
						<div class='embed-container'>
							<iframe src='https://www.youtube.com/embed/jS2RZz3Gk_k' frameborder='0' allowfullscreen></iframe>
						</div>
					</div>
					<div class="caption">
						<b>LEGENDE ICI
							<br>
						</b>SI POSSIBLE CA SERAIT BIEN</div>
				</div>

				<p>
					D’autres ont emprunté un chemin bien différent: celui de la digestion enzymatique. Le principe? Dissoudre ou transformer
					le plastique grâce à une enzyme, molécule capable d’accélérer une réaction chimique. Les scientifiques ont découvert de
					telles molécules dans la nature: Ideonella sakaiensis, une bactérie découverte au Japon en 2016, en possède une, la PETase,
					capable de digérer le PET. La fausse teigne de cire, une chenille, en possède d’autres. Plusieurs équipes et entreprises
					travaillent à la mise au point d’un procédé industriel de digestion enzymatique du plastique. Mais comme le ramassage, la
					digestion du plastique est un processus lent. Et coûteux: il n’est pas rare que des enzymes dépassent les mille francs le
					gramme, rappelle François Galgani. Comment dès lors imaginer compenser les 8 millions de tonnes de plastique abandonnées
					dans la mer chaque année?
				
				</p>
				
				<p>
					Une solution réside dans la réduction des déchets. Ne dit on pas après tout que le meilleur déchet est celui que l’on ne
					produit pas? Dans ce contexte, l’association Zero Waste Switzerland s’est donné pour mission «d’œuvrer en faveur de la réduction
					des déchets et du gaspillage», peut-on lire sur son site. Ceux qui se lancent dans l’aventure doivent revoir toutes leurs
					habitudes: acheter leurs denrées en vrac, s’équiper en contenants réutilisables ou encore refuser les plastiques jetables.
					Un sacrifice loin d’être vain, au vu des résultats. Ceux qui joignent les rangs de l’association voient leur production
					de déchets chuter, «de 600 à 18 kilos par an pour une famille jurassienne de quatre personnes, ou de 73 à 9 kilos pour une
					personne seule dans le canton de Genève», assure Gabrielle Camara, ambassadrice lausannoise de l’association.
				</p>
				
				<p>
					Sans aller aussi loin, le public semble bien prendre conscience que le plastique nous fait marcher sur la tête. En témoignent
					le succès des Plastic Attacks un peu partout dans le monde. Plusieurs ont essaimé début juin dans quelques villes de Suisse.
					«Les consommateurs se sentent un peu pris en otage par la grande distribution qui impose le suremballage de certains produits»
					explique Frédéric X, organisateur de la première Plastic Attack lausannoise. Avec ses comparses, il s’est planté devant
					des supermarchés et a récupéré dans un caddie tous les emballages superflus. Qû’il a laissé sur place, estimant que c’est
					au vendeur de les prendre en charge. «Nous avons reçu un bon accueil du public mais aussi des enseignes. Si on arrive à
					toucher la conscience écologique, c’est déjà ça».
				
				</p>
				
				<p>
					Comptons aussi sur les sciences et les technologies pour nous donner un coup de pouce. Plutôt que d’incinérer les plastiques,
					certaines entreprises misent sur la pyrolyse ou la gazéification, qui consiste à faire brûler le plastique à des temnpératures
					précises et en contrôlant le taux d’oxygène, produisant ainsi un combustible intéressant ou des gaz tels que le dihydrogène,
					potentiellement utilisable dans des moteurs. Certains fabricants d’emballages travaillent enfin à la mise au point de nouveaux
					plastiques avant tout conçus avec le recyclage comme priorité.
				
				</p>
				
				<p>
					La question du plastique et des emballages occupe aussi l'agenda politique en Suisse. En mars, le Grand Conseil valaisan
					a accepté un postulat pour l'installation de plates-formes de déballage dans les grandes surfaces. Un règlement similaire
					a été accepté à Zurich.
				
				</p>
				
				<p>
					Fidèle à sa tradition, la Confédération préfère laisser faire plutôt que de légiférer. Elle s’appuie pour cela sur le récente
					mesure des sacs en plastique payants, mis sur pied par les entreprises et qui a permis une baisse de 80% des sacs utilisés
					en magasins, en un an. «Cette mesure a pris des années à voir le jour, elle aurait pu être appliquée il y a plus de quinze
					ans!» s’étouffe Frédéric. Plusieurs pays sont déjà passés à l’action. l’Europe a propos en mai l’interditcion pure et simple
					de «dix produits en plastique à usage unique les plus présents sur les plages et dans les mers européennes», parmi lesquels
					pailles, sacs plastique ou encore coton-tige. Sans action concrète et audacieuse, la Suisse sera à la traîne et continuera
					de brûler ses nombreux déchets, tandis que l’Europe ne les produira plus.
				
				</p>

			</div>
		</section>



		
		
		<footer>
			<!-- <hr class="end"> -->
			<div class="container">

				<h5>Nos grands formats</h5>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2017/bol-dor-mirabaud-epopee-technologique/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-boldor.jpg');"></div>
							<div class="caption">Le Bol d'Or, une épopée technologique</div>
						</div>
					</a>

					<a href="https://labs.letemps.ch/interactive/2016/longread-parc-adula/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_adula.jpg');"></div>
							<div class="caption">Parc Adula: Bataille dans la montagne</div>
						</div>
					</a>
				</div>

				<div class="row">
				<a href="https://labs.letemps.ch/interactive/2016/longread-fioul-lourd/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_fioul.jpg');"></div>
							<div class="caption">Fioul lourd, le sang impur de la globalisation</div>
						</div>
					</a>

					<a href="https://labs.hebdo.ch/interactive/2016/longread-horlogerie-japonaise/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-horlogerie-japonaise.jpg');"></div>
							<div class="caption">Horlogerie japonaise – A la conquête du monde</div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/longread-gothard/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_gothard.jpg');"></div>
							<div class="caption">Les oubliés du Gothard</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/tchernobyl-30-ans/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-tchernobyl.jpg');"></div>
							<div class="caption">30 ans après, voyage au cœur de la zone </div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/shenzhen/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_shenzhen.jpg');"></div>
							<div class="caption">Shenzhen, de la fumée des usines aux ateliers d'artistes</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/montre-suisse/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-montre.jpg');"></div>
							<div class="caption">Comment j'ai fabriqué ma montre en 8 heures</div>
						</div>
					</a>
					
				</div>

			</div>

			<div class="credits">
				Texte: Fabien Goubet<br>
				Illustrations: Florent Collioud, César Greppin, Flaticon<br>
				 Photos: XXXX XXXXXXXXXX<br>
				 Vidéo: XXXX XXXXXXXXXX<br>
				 Webdesign et animation: César Greppin
			</div>
		</footer>
		
		{{ block('footer_brand') }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
        <script src="js/jquery.lazyload.js?v=1.9.7"></script>
        <script src="js/intro-control.js"></script>
		<script src="js/viewport.js"></script>
        <!--<script src="js/timeline-control.js"></script>-->
        <script src="js/owl.carousel.js"></script>
        <script src="js/main.js"></script>
		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

        <!--<script src="js/video-control.js"></script>-->
        <script src="js/gyres-anim.js"></script>
		<!--<script src="js/hero-control.js"></script>-->
		
        <script src="js/zoom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
	</body>
</html>